<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
<h3>下記内容でツイートする</h3>
<%= form_for(@tweet) do |f| %>
<%= f.hidden_field :content %>
<p><%= @tweet.content %></p>
<%= f.submit "ツイート", class: 'btn btn-info btn-block' %>
<% end %>
<%= form_for(@tweet, url: new_tweet_path, method: :get) do |f| %>
<%= f.hidden_field :content %>
<%= f.submit "戻る", name: "back", class: 'btn btn-warning btn-block' %>
<% end %>
</div>
</div>